.content {

    text-align: center;
    width: 25%;
    margin: 0 auto;

}


.interests {
    width: 25%;
    margin: 0 auto;
    border: solid 1px black;
    text-align: center;
    background-color: lightgray;  

}

.facts {
    width: 25%;
    margin: 0 auto;
    border: solid 1px black;
    text-align: center;
    background-color: lightgray;  

}

.goals {
    width: 25%;
    margin: 0 auto;
    border: solid 1px black;
    text-align: center;
    background-color: lightgray;     
                                                         
}

img{
    width: 500px;
    height: 400px;

}


.image {
    text-align: center;
    margin: 0 auto;

}